<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="PersonApp" connectionString="Host=aws-1-us-west-2.pooler.supabase.com;Database=postgres;Username=postgres.jpthnjxhdwrltaoenbxg;Password=LXVRpavmxRbwfewO;SSL Mode=Require;Trust Server Certificate=true" />

	</connectionStrings>
</configuration>